# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Static files collected
staticfiles/

# Logs
*.log
