{% extends 'base.html' %}

{% block content %}
<h1> Wellcome back, {{user.username}}👋</h1>
<p>Ready to explore your career and sports pathways? Let's continue your journey.</p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Career guidance🎓</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Discover careers that match your interests and skills</h6>
    <p class="card-text">Take our comprehensive career assessment to get personalized recommendations!</p>
    <a href="{% url 'career' %}" class="card-link">Click here to continue</a>
    
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Sports Guidance⚽</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Find sports that align with your abilities and interests</h6>
    <p class="card-text">Complete our sports assessment to discover opportunities that match your strengths!</p>
    <a href="{% url 'sports' %}" class="card-link">Click here to continue</a>
   
  </div>
</div>
{% endblock %}